body {
	font-family: Lato;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .015em;
	line-height: 1.5em;
	color:  #2b2b2b;
}

.hidden {
	visibility: hidden;
}

.svg_container {
	position: absolute;
	height: 500px;
	width: 500px;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
}

.outer {
	height: 490px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.start_position {
	position: absolute;
	top: calc(50% - 44px);
	left: calc(50% - 44px);
	width: 88px;
	z-index: 2;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	transition: 0.3s ease-out;
	transform: translateY(-180px);
}

.start_position:hover {
	filter: brightness(120%);
}

.bank1_container:hover .bank1_text {
	opacity: 1;
}

.bank2_container:hover .bank2_text {
	opacity: 1;
}

.bank3_container:hover .bank3_text {
	opacity: 1;
}

.bank4_container:hover .bank4_text {
	opacity: 1;
}

.bank5_container:hover .bank5_text {
	opacity: 1;
}

.bank6_container:hover .bank6_text {
	opacity: 1;
}

.bank8_container:hover .bank8_text {
	opacity: 1;
}

.bank9_container:hover .bank9_text {
	opacity: 1;
}

.bank10_container:hover .bank10_text {
	opacity: 1;
}

.bank11_container:hover .bank11_text {
	opacity: 1;
}

.bank12_container:hover .bank12_text {
	opacity: 1;
}

.right_text {
	opacity: 0;
	position: absolute;
	left: calc(50% + 260px);
	top: calc(50% - 230px);
	height: 500px;
	width: 320px;
	transition: 0.3s;
}

.right_text_area {
	background: none;
	z-index: 2;
	position: absolute;
	left: calc(50% + 260px);
	top: calc(50% - 250px);
	height: 500px;
	width: 320px;
}

.left_text {
	opacity: 0;
	position: absolute;
	left: calc(0% - 340px);
	top: calc(50% - 230px);
	height: 500px;
	width: 320px;
	transition: 0.3s;
}

.left_text_area {
	background: none;
	z-index: 2;
	position: absolute;
	left: calc(0% + 50px);
	top: calc(50% - 250px);
	height: 500px;
	width: 320px;
}

/* ~~~~ Rotation animations ~~~~ */

.bank1 {
	animation: bank1 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank1 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(30deg) translateY(-180px) rotate(-30deg);}
}

.bank1 {
	animation: bank1 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank1 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(0deg) translateY(-180px) rotate(-0deg);}
}

.bank2 {
	animation: bank2 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank2 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(30deg) translateY(-180px) rotate(-30deg);}
}

.bank3 {
	animation: bank3 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank3 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(60deg) translateY(-180px) rotate(-60deg);}
}

.bank4 {
	animation: bank4 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank4 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(90deg) translateY(-180px) rotate(-90deg);}
}

.bank5 {
	animation: bank5 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank5 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(120deg) translateY(-180px) rotate(-120deg);}
}

.bank6 {
	animation: bank6 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank6 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(150deg) translateY(-180px) rotate(-150deg);}
}

.bank7 {
	animation: bank7 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank7 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(180deg) translateY(-180px) rotate(-180deg);}
}

.bank8 {
	animation: bank8 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank8 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(210deg) translateY(-180px) rotate(-210deg);}
}

.bank9 {
	animation: bank9 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank9 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(240deg) translateY(-180px) rotate(-240deg);}
}

.bank10 {
	animation: bank10 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank10 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(270deg) translateY(-180px) rotate(-270deg);}
}

.bank11 {
	animation: bank11 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank11 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(300deg) translateY(-180px) rotate(-300deg);}
}

.bank12 {
	animation: bank12 0.8s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes bank12 {
	0% {transform: rotate(0deg) translateY(-180px) rotate(0deg);}
	100% {transform: rotate(330deg) translateY(-180px) rotate(-330deg);}
}

/* ---- Fly in sections ---- */

.fly_in_section {
	position: absolute;
	height: 800px;
	width: 100%;
	top: 1000px;
}

.block1 {
	display: inline-block;
	position: relative;
	height: 500px;
	width: 20%;
	left: 4%;
	top: 30px;
	background-color: #6cb3e3;
	border-radius: 3%;
	visibility: hidden;
}

.block2 {
	display: inline-block;
	position: relative;
	height: 500px;
	width: 20%;
	left: 8%;
	top: 30px;
	background-color: #6cb3e3;
	border-radius: 3%;
	visibility: hidden;
}

.block3 {
	display: inline-block;
	position: relative;
	height: 500px;
	width: 20%;
	left: 12%;
	top: 30px;
	background-color: #6cb3e3;
	border-radius: 3%;
	visibility: hidden;
}

.block4 {
	display: inline-block;
	position: relative;
	height: 500px;
	width: 20%;
	left: 16%;
	top: 30px;
	background-color: #6cb3e3;
	border-radius: 3%;
	visibility: hidden;
}

.slideUp {
	visibility: visible;
	animation: slideUp 0.6s ease-out;
	animation-fill-mode: forwards;
}

.slideUp2 {
	animation: slideUp 0.6s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
}

.slideUp3 {
	animation: slideUp 0.6s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.slideUp4 {
	animation: slideUp 0.6s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

@keyframes slideUp {
	0% {visibility: visible; transform: translateY(150%);}
	100% {visibility: visible; transform: translateY(0%);}
}

/* ---- End Fly in sections ---- */

/* ---- Animated Icons ---- */

.animated_icons {
	position: absolute;
	top: 1700px;
	height: 400px;
	width: 98%;
	border-top: 1px solid grey;
}

.cash_management {
	position: relative;
	top: 40px;
	left: 10%;
	height: 100px;
	width: 100px;
}


/* Image dimensions: w x l
	38.88 x 50
*/
.cash_management_inner {
	position: relative;
	height: 50%;
	top: 25%;
	left: calc(50% - 19px);
}

.cash_management_outer {
	position: absolute;
	height: 100%;
	left: 0px;
	top: 0px;
	animation: cash_management_rotate 2s ease-out;
	animation-iteration-count: infinite;
}

@keyframes cash_management_rotate {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

/* ---- End Animated Icons ---- */